* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@keyframes aura {
  0% {
    transform: rotate(20deg);
  }
  20% {
    transform: translateY(100px) rotate(1deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: translateY(-10px) rotate(16deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

@keyframes northern {
  0% {
    transform: translate(5%, -2%);
  }
  25% {
    transform: translate(10%, 7%);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: translate(7%, -2%);
  }
  85% {
    transform: translate(10%, 3%) rotate(15deg);
  }
  100% {
    transform: none;
  }
}

.auroral-agrabah {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: aura;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), linear-gradient(60deg, #1a00c0 10%, #d70043);
}

.auroral-northern {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  animation-name: northern;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(10deg, #a1d9b4 20%, #32988a 40%, #000e3c 70%);
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: white;
  box-shadow: 87vw 3vh 0 2px rgba(255, 255, 255, 0.7), 53vw 2vh 0 1px rgba(255, 255, 255, 0.7), 77vw 20vh 0 2px rgba(255, 255, 255, 0.7), 24vw 27vh 0 2px rgba(255, 255, 255, 0.7), 45vw 47vh 0 2px rgba(255, 255, 255, 0.7), 25vw 13vh 0 1px rgba(255, 255, 255, 0.7), 91vw 21vh 0 1px rgba(255, 255, 255, 0.7), 24vw 30vh 0 2px rgba(255, 255, 255, 0.7), 5vw 14vh 0 1px rgba(255, 255, 255, 0.7), 95vw 33vh 0 2px rgba(255, 255, 255, 0.7), 35vw 48vh 0 1px rgba(255, 255, 255, 0.7), 95vw 25vh 0 1px rgba(255, 255, 255, 0.7), 57vw 23vh 0 1px rgba(255, 255, 255, 0.7), 46vw 1vh 0 1px rgba(255, 255, 255, 0.7), 55vw 30vh 0 1px rgba(255, 255, 255, 0.7), 14vw 27vh 0 2px rgba(255, 255, 255, 0.7), 53vw 4vh 0 2px rgba(255, 255, 255, 0.7), 98vw 34vh 0 1px rgba(255, 255, 255, 0.7), 2vw 32vh 0 2px rgba(255, 255, 255, 0.7), 34vw 21vh 0 2px rgba(255, 255, 255, 0.7), 4vw 43vh 0 2px rgba(255, 255, 255, 0.7), 21vw 2vh 0 1px rgba(255, 255, 255, 0.7), 9vw 30vh 0 2px rgba(255, 255, 255, 0.7), 27vw 29vh 0 2px rgba(255, 255, 255, 0.7), 88vw 5vh 0 1px rgba(255, 255, 255, 0.7), 9vw 48vh 0 1px rgba(255, 255, 255, 0.7), 88vw 33vh 0 1px rgba(255, 255, 255, 0.7), 85vw 4vh 0 1px rgba(255, 255, 255, 0.7), 57vw 16vh 0 2px rgba(255, 255, 255, 0.7), 2vw 45vh 0 1px rgba(255, 255, 255, 0.7), 81vw 4vh 0 2px rgba(255, 255, 255, 0.7), 72vw 45vh 0 2px rgba(255, 255, 255, 0.7), 70vw 13vh 0 1px rgba(255, 255, 255, 0.7), 69vw 25vh 0 1px rgba(255, 255, 255, 0.7), 53vw 24vh 0 2px rgba(255, 255, 255, 0.7), 39vw 40vh 0 1px rgba(255, 255, 255, 0.7), 13vw 17vh 0 1px rgba(255, 255, 255, 0.7), 98vw 16vh 0 1px rgba(255, 255, 255, 0.7), 66vw 46vh 0 1px rgba(255, 255, 255, 0.7), 28vw 40vh 0 2px rgba(255, 255, 255, 0.7), 41vw 6vh 0 1px rgba(255, 255, 255, 0.7), 27vw 25vh 0 2px rgba(255, 255, 255, 0.7), 63vw 22vh 0 2px rgba(255, 255, 255, 0.7), 88vw 9vh 0 1px rgba(255, 255, 255, 0.7), 87vw 9vh 0 1px rgba(255, 255, 255, 0.7), 1vw 25vh 0 1px rgba(255, 255, 255, 0.7), 32vw 15vh 0 1px rgba(255, 255, 255, 0.7), 55vw 42vh 0 1px rgba(255, 255, 255, 0.7), 30vw 34vh 0 2px rgba(255, 255, 255, 0.7), 43vw 17vh 0 1px rgba(255, 255, 255, 0.7), 4vw 36vh 0 2px rgba(255, 255, 255, 0.7), 20vw 1vh 0 2px rgba(255, 255, 255, 0.7), 92vw 35vh 0 1px rgba(255, 255, 255, 0.7), 97vw 43vh 0 2px rgba(255, 255, 255, 0.7), 86vw 29vh 0 2px rgba(255, 255, 255, 0.7), 82vw 27vh 0 1px rgba(255, 255, 255, 0.7), 13vw 28vh 0 2px rgba(255, 255, 255, 0.7), 3vw 29vh 0 2px rgba(255, 255, 255, 0.7), 42vw 35vh 0 1px rgba(255, 255, 255, 0.7), 31vw 49vh 0 2px rgba(255, 255, 255, 0.7), 43vw 37vh 0 2px rgba(255, 255, 255, 0.7), 85vw 8vh 0 2px rgba(255, 255, 255, 0.7), 70vw 18vh 0 1px rgba(255, 255, 255, 0.7), 92vw 50vh 0 1px rgba(255, 255, 255, 0.7), 96vw 31vh 0 2px rgba(255, 255, 255, 0.7), 99vw 48vh 0 2px rgba(255, 255, 255, 0.7), 69vw 23vh 0 2px rgba(255, 255, 255, 0.7), 66vw 13vh 0 2px rgba(255, 255, 255, 0.7), 11vw 10vh 0 2px rgba(255, 255, 255, 0.7), 34vw 19vh 0 2px rgba(255, 255, 255, 0.7), 66vw 49vh 0 2px rgba(255, 255, 255, 0.7), 89vw 17vh 0 1px rgba(255, 255, 255, 0.7), 47vw 36vh 0 2px rgba(255, 255, 255, 0.7), 2vw 17vh 0 1px rgba(255, 255, 255, 0.7), 8vw 7vh 0 2px rgba(255, 255, 255, 0.7), 76vw 37vh 0 2px rgba(255, 255, 255, 0.7), 42vw 30vh 0 1px rgba(255, 255, 255, 0.7), 72vw 11vh 0 1px rgba(255, 255, 255, 0.7), 89vw 50vh 0 1px rgba(255, 255, 255, 0.7), 76vw 15vh 0 2px rgba(255, 255, 255, 0.7), 33vw 49vh 0 2px rgba(255, 255, 255, 0.7), 10vw 17vh 0 1px rgba(255, 255, 255, 0.7), 9vw 34vh 0 2px rgba(255, 255, 255, 0.7), 83vw 16vh 0 2px rgba(255, 255, 255, 0.7), 94vw 30vh 0 2px rgba(255, 255, 255, 0.7), 75vw 8vh 0 2px rgba(255, 255, 255, 0.7), 4vw 30vh 0 2px rgba(255, 255, 255, 0.7), 26vw 14vh 0 2px rgba(255, 255, 255, 0.7), 48vw 23vh 0 2px rgba(255, 255, 255, 0.7), 34vw 18vh 0 1px rgba(255, 255, 255, 0.7), 44vw 16vh 0 2px rgba(255, 255, 255, 0.7), 22vw 32vh 0 2px rgba(255, 255, 255, 0.7), 51vw 32vh 0 2px rgba(255, 255, 255, 0.7), 28vw 28vh 0 1px rgba(255, 255, 255, 0.7), 79vw 49vh 0 2px rgba(255, 255, 255, 0.7), 49vw 27vh 0 1px rgba(255, 255, 255, 0.7), 81vw 48vh 0 2px rgba(255, 255, 255, 0.7), 21vw 23vh 0 2px rgba(255, 255, 255, 0.7), 57vw 31vh 0 2px rgba(255, 255, 255, 0.7), 90vw 34vh 0 1px rgba(255, 255, 255, 0.7), 23vw 21vh 0 0 rgba(255, 255, 255, 0.9);
}
