$filters-color: white;

.filters-container {
  width: 100%;
  background: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    margin: 2em auto 6em;
  }
}

.filter-link {
  display: inline-block;
  margin-right: .25em;
  margin-bottom: .5em;
  padding: 0.25em 0.5em;
  border-radius: .25em;
  font-size: 1.1em;
  line-height: 1em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  opacity: .7;
  text-decoration: none;

  &:hover {
    border: 2px solid $filters-color;
  }
}

.auroral.auroral-northern {
  opacity: 1;
}

.auroral {
  opacity: 0;

  &:target {
    opacity: 1;
  }
}