$filters-color: white;

.filters-container {
  width: 100%;
  background: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    margin: 2em auto 6em;
  }
}

label {
  display: inline-block;
  margin-right: .25em;
  margin-bottom: .5em;
  padding: 0.25em 0.5em;
  border-radius: .25em;
  font-size: 1.1em;
  line-height: 1em;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  opacity: .7;

  &:hover {
    border: 2px solid $filters-color;
  }
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"]:focus + label {
  border: 2px solid $filters-color;
}

input[type="radio"]:checked + label {
  background-color: $filters-color;
  border: 2px solid $filters-color;
  color: black;
}