* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@mixin auroral-container() {
  position: absolute;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
}