$footer-height: 4em;
$text-color: rgba(255,255,255,.8);

body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  color: $text-color;
}

h1 {
  font-size: 1.25em;

  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}

p {
  margin: 0;
}

a {
  color: $text-color;
}


.auroral-info {
  position: absolute;
  width: 100%;
  padding: 0 2em;
  text-align: center;
  z-index: 10;
}

footer {
  position: fixed;
  height: $footer-height;
  line-height: $footer-height/2;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 2em;
  text-align: center;
  z-index: 10;
}

/* Octocat styles https://github.com/tholman/github-corners */

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-25deg);
  }

  40% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-25deg);
  }

  80% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}