$footer-height: 4em;
$text-color: rgba(255,255,255,.8);

body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  color: $text-color;
}

p {
  margin: 0;
}

a {
  color: $text-color;
}


.auroral-info {
  position: absolute;
  width: 100%;
  margin-top: .5em;
  padding: 0 2em;
  text-align: center;
  z-index: 10;
}

footer {
  position: fixed;
  height: $footer-height;
  line-height: $footer-height/2;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 2em;
  text-align: center;
  z-index: 10;
}